{% extends 'base.html.twig' %}

{% block body %}
    <table>

        <thead>
        <tr>
            <th>Игрок</th>
            <th>Текушая роль</th>
            <th>Назначить роль</th>
            <th>Гильдия</th>
            <th>Назначить гильдию</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <form method="post" action="{{ path('getRole') }}">
                    <td><input name="userId" type="hidden" value="{{ user.id }}" >{{ user.userName }}</td>
                    <td>{{ user.roles|first|replace({'ROLE_USER' : 'пользователь', 'ROLE_GUILD' : 'гильдеец', 'ROLE_COMMANDER':'командир', 'ROLE_OFICER':'офицер' })}}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><select name="role">
                                <option value="ROLE_OFICER">высший холоп</option>
                                <option value="ROLE_COMMANDER">средний холоп</option>
                                <option value="ROLE_GUILD">холоп</option>
                                <option value="ROLE_USER">обычный холоп</option>
                            </select>
                        </td>
                    {% elseif is_granted('ROLE_OFICER') %}
                        <td><select name="role">
                                <option value="ROLE_COMMANDER">Командир</option>
                                <option value="ROLE_GUILD">Согильдеец</option>
                                <option value="ROLE_USER">Пользователь</option>
                            </select>
                        </td>
                    {% endif %}
                    <td>{{ user.guild }}</td>
                    <td>
                        <select name="guild">
                            <option value="main">Основа</option>
                            <option value="academ">Академ</option>
                        </select>
                    </td>
                    <td><input type="submit" name="sumbit" value="Назначить"></td>
                    <td>
                        <button type="submit" style="float: right" formaction="" value="{{ user.id }}" name="delete">Удалить игрока</button>
                    </td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}