{% extends 'base.html.twig' %}

{% block body %}
    {% block stylesheets%}
        <link href="{{ asset('css/addHero.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
<div>
    {{ form_start(form) }}
    {{ form_row(form.imageFile) }}
    {{ form_row(form.heroName) }}
    {{ form_row(form.fraction) }}
    {{ form_row(form.ipRecommended) }}
    {{ form_row(form.furnitureRecommended) }}
    {{ form_row(form.engravingRecommended) }}
    {{ form_row(form.general) }}
    {{ form_row(form.pve) }}
    {{ form_row(form.pvp) }}
    {{ form_row(form.events) }}
    {{ form_row(form.abyss) }}



    <input type="submit" name="sumbit" value="Сохранить">
    {{ form_end(form) }}

</div>

{% endblock %}