
{% extends'base.html.twig' %}


{% block stylesheets %}
    <link href="{{ asset('css/table.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/sortTable.js') }}"></script>
{% endblock %}


{% block body%}

    <div>

        <table id="myTable2">
            <thead>
            <tr>
                <th></th>
                <th onclick="sortTable(1)">Имя героя</th>
                <th>Фракция</th>
                <th>Развитие</th>
                <th>ИП</th>
                <th>Нужно ИП</th>
                <th>Мебель</th>
                <th>Нужно Мебели</th>
                <th>Гравировка</th>
                <th>Нужно Гравировки</th>
                <th onclick="sortTable(11)">Общий рейтинг</th>
                <th onclick="sortTable(12)">ПвЕ рейтинг</th>
                <th onclick="sortTable(13)">ПвП рейтинг</th>
                <th onclick="sortTable(14)">Искаженный мир рейтинг</th>
                <th onclick="sortTable(15)">Ивент рейтинг</th>
                <th onclick="sortTable(16)">Бездна рейтинг</th>
                <th>Дата изменений</th>
                <th></th>
            </tr>
            </thead>
            {% if is_granted('ROLE_GUILD') %}
                <tbody>
                {% for item in specifications %}
                    <tr>
                        <td><img src="{{ item.hid.img  }}" rel= /></td>
                        <td>{{ item.hid.heroName }}</td>
                        <td>{{ item.hid.fraction }}</td>
                        <td>{{ item.evolution }}</td>
                        <td>{% if item.ip == 0 %}

                            {% else%}
                                {{ item.ip}}
                            {% endif %}</td>

                        <td>
                            {% if  item.hid.ipRecommended == 0 %}
                                Прокачивать не нужно
                            {% elseif item.ip >= item.hid.ipRecommended %}
                                Достаточно улучшено
                            {% else %}
                                нужно еще прокачать {{ item.hid.ipRecommended - item.ip}}
                            {% endif %}
                        </td>
                        <td>{% if item.furniture == 0 %}

                            {% else%}
                                {{ item.furniture }}
                            {% endif %}</td>
                        <td>
                            {% if item.hid.furnitureRecommended == 0 %}
                                Прокачивать не нужно
                            {% elseif item.furniture >= item.hid.furnitureRecommended %}
                                Мебель собрана
                            {% else %}
                                Нужно еще мебели {{ item.hid.furnitureRecommended - item.furniture }}
                            {% endif %}
                        </td>
                        <td>{% if item.engraving == 0 %}

                            {% else%}
                                {{ item.engraving }}
                            {% endif %}</td>
                        <td>{% if item.hid.engravingRecommended == 0 %}
                                Прокачивать не нужно
                            {% elseif item.engraving >= item.hid.engravingRecommended %}
                                Все прокачал
                            {% else %}
                                нужно еще прокачать {{ item.hid.engravingRecommended - item.engraving }}
                            {% endif %}
                        </td>
                        <td>{{ item.hid.general }}</td>
                        <td>{{ item.hid.pve }}</td>
                        <td>{{ item.hid.pvp }}</td>
                        <td>{{ item.hid.distortedWorld }}</td>
                        <td>{{ item.hid.events }}</td>
                        <td>{{ item.hid.abyss }}</td>
                        <td>{{ item.date|date("d.m.y H:i ") }}</td>
                        <td>  <a href="{{ path('edit-hero',{id: item.id, heroName: item.hid.heroName})}} ">
                                <button type="button" style="float: right">Редактировать</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            {% endif %}
        </table>

    </div>



{% endblock %}
