
{% extends'base.html.twig' %}


{% block stylesheets %}
    <link href="{{ asset('css/table.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}

{% block body%}
    <div>
<p>Вы смотрите игрока {{user.userName}}</p>
        <table>
            <thead>
            <tr>
                <<th></th>
                <th >Имя героя</th>
                <th>Фракция</th>
                <th>Развитие</th>
                <th>ИП</th>
                <th>Мебель</th>
                <th>Гравировка</th>
                <th>Дата изменений</th>
            </tr>
            {% for item in specifications %}
            <tbody>
            <tr>
                <td><img src="{{ item.hid.img  }}" rel= /></td>
                <td>{{ item.hid.heroName }}</td>
                <td>{{ item.hid.fraction }}</td>
                <td>{{ item.evolution }}</td>
                <td>{{ item.ip }}</td>
                <td>{{ item.furniture }}</td>
                <td>{{ item.engraving }}</td>
                <td>{{ item.data|date("d.m.y h:i") }}</td>
            </tr>
            </tbody>

            {% endfor %}
        </table>
    </div>



{% endblock %}
